build/
managed_components/
sdkconfig.old
ScreenShot_*.png
*.log
*.tmp
*.bak
*.pyc
__pycache__/

# Board Manager 生成的代码
components/gen_bmgr_codes/
components/esp_board_manager/boards/rymcu_bigsmart/
.vscode/settings.json
