#
# Camera Sensor Configuration
#
CONFIG_CAMERA_SC030IOT=y
CONFIG_CAMERA_SC030IOT_AUTO_DETECT_DVP_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC030IOT_DVP_YUV422_640X480_26FPS=y
CONFIG_CAMERA_SC030IOT_DVP_IF_FORMAT_INDEX_DEFAULT=0
