menu "Peripheral Support"

config ESP_BOARD_PERIPH_ADC_SUPPORT
    bool "Peripheral 'adc' support"
    help
        Enable adc peripheral support.
        This option enables the adc peripheral driver.
        The driver is located at: peripherals/periph_adc

config ESP_BOARD_PERIPH_ANACMPR_SUPPORT
    bool "Peripheral 'anacmpr' support"
    help
        Enable anacmpr peripheral support.
        This option enables the anacmpr peripheral driver.
        The driver is located at: peripherals/periph_anacmpr

config ESP_BOARD_PERIPH_DAC_SUPPORT
    bool "Peripheral 'dac' support"
    help
        Enable dac peripheral support.
        This option enables the dac peripheral driver.
        The driver is located at: peripherals/periph_dac

config ESP_BOARD_PERIPH_DSI_SUPPORT
    bool "Peripheral 'dsi' support"
    help
        Enable dsi peripheral support.
        This option enables the dsi peripheral driver.
        The driver is located at: peripherals/periph_dsi

config ESP_BOARD_PERIPH_GPIO_SUPPORT
    bool "Peripheral 'gpio' support"
    help
        Enable gpio peripheral support.
        This option enables the gpio peripheral driver.
        The driver is located at: peripherals/periph_gpio

config ESP_BOARD_PERIPH_I2C_SUPPORT
    bool "Peripheral 'i2c' support"
    help
        Enable i2c peripheral support.
        This option enables the i2c peripheral driver.
        The driver is located at: peripherals/periph_i2c

config ESP_BOARD_PERIPH_I2S_SUPPORT
    bool "Peripheral 'i2s' support"
    help
        Enable i2s peripheral support.
        This option enables the i2s peripheral driver.
        The driver is located at: peripherals/periph_i2s

config ESP_BOARD_PERIPH_LDO_SUPPORT
    bool "Peripheral 'ldo' support"
    help
        Enable ldo peripheral support.
        This option enables the ldo peripheral driver.
        The driver is located at: peripherals/periph_ldo

config ESP_BOARD_PERIPH_LEDC_SUPPORT
    bool "Peripheral 'ledc' support"
    help
        Enable ledc peripheral support.
        This option enables the ledc peripheral driver.
        The driver is located at: peripherals/periph_ledc

config ESP_BOARD_PERIPH_MCPWM_SUPPORT
    bool "Peripheral 'mcpwm' support"
    help
        Enable mcpwm peripheral support.
        This option enables the mcpwm peripheral driver.
        The driver is located at: peripherals/periph_mcpwm

config ESP_BOARD_PERIPH_PCNT_SUPPORT
    bool "Peripheral 'pcnt' support"
    help
        Enable pcnt peripheral support.
        This option enables the pcnt peripheral driver.
        The driver is located at: peripherals/periph_pcnt

config ESP_BOARD_PERIPH_RMT_SUPPORT
    bool "Peripheral 'rmt' support"
    help
        Enable rmt peripheral support.
        This option enables the rmt peripheral driver.
        The driver is located at: peripherals/periph_rmt

config ESP_BOARD_PERIPH_SDM_SUPPORT
    bool "Peripheral 'sdm' support"
    help
        Enable sdm peripheral support.
        This option enables the sdm peripheral driver.
        The driver is located at: peripherals/periph_sdm

config ESP_BOARD_PERIPH_SPI_SUPPORT
    bool "Peripheral 'spi' support"
    help
        Enable spi peripheral support.
        This option enables the spi peripheral driver.
        The driver is located at: peripherals/periph_spi

config ESP_BOARD_PERIPH_UART_SUPPORT
    bool "Peripheral 'uart' support"
    help
        Enable uart peripheral support.
        This option enables the uart peripheral driver.
        The driver is located at: peripherals/periph_uart

endmenu

menu "Device Support"

config ESP_BOARD_DEV_AUDIO_CODEC_SUPPORT
    bool "Device 'audio_codec' support"
    help
        Enable audio_codec device support.
        This option enables the audio_codec device driver.
        The driver is located at: devices/dev_audio_codec

config ESP_BOARD_DEV_BUTTON_SUPPORT
    bool "Device 'button' support"
    help
        Enable button device support.
        This option enables the button device driver.
        The driver is located at: devices/dev_button

config ESP_BOARD_DEV_BUTTON_SUB_ADC_MULTI_SUPPORT
    bool "Device 'button' adc_multi sub-type support"
    depends on ESP_BOARD_DEV_BUTTON_SUPPORT
    help
        Enable button adc_multi sub-type support.
        This option enables the button adc_multi sub-type driver.

config ESP_BOARD_DEV_BUTTON_SUB_ADC_SINGLE_SUPPORT
    bool "Device 'button' adc_single sub-type support"
    depends on ESP_BOARD_DEV_BUTTON_SUPPORT
    help
        Enable button adc_single sub-type support.
        This option enables the button adc_single sub-type driver.

config ESP_BOARD_DEV_BUTTON_SUB_CUSTOM_SUPPORT
    bool "Device 'button' custom sub-type support"
    depends on ESP_BOARD_DEV_BUTTON_SUPPORT
    help
        Enable button custom sub-type support.
        This option enables the button custom sub-type driver.

config ESP_BOARD_DEV_BUTTON_SUB_GPIO_SUPPORT
    bool "Device 'button' gpio sub-type support"
    depends on ESP_BOARD_DEV_BUTTON_SUPPORT
    help
        Enable button gpio sub-type support.
        This option enables the button gpio sub-type driver.

config ESP_BOARD_DEV_CAMERA_SUPPORT
    bool "Device 'camera' support"
    help
        Enable camera device support.
        This option enables the camera device driver.
        The driver is located at: devices/dev_camera

config ESP_BOARD_DEV_CAMERA_SUB_CSI_SUPPORT
    bool "Device 'camera' csi sub-type support"
    depends on ESP_BOARD_DEV_CAMERA_SUPPORT
    help
        Enable camera csi sub-type support.
        This option enables the camera csi sub-type driver.

config ESP_BOARD_DEV_CAMERA_SUB_DVP_SUPPORT
    bool "Device 'camera' dvp sub-type support"
    depends on ESP_BOARD_DEV_CAMERA_SUPPORT
    help
        Enable camera dvp sub-type support.
        This option enables the camera dvp sub-type driver.

config ESP_BOARD_DEV_CAMERA_SUB_SPI_SUPPORT
    bool "Device 'camera' spi sub-type support"
    depends on ESP_BOARD_DEV_CAMERA_SUPPORT
    help
        Enable camera spi sub-type support.
        This option enables the camera spi sub-type driver.

config ESP_BOARD_DEV_CUSTOM_SUPPORT
    bool "Device 'custom' support"
    help
        Enable custom device support.
        This option enables the custom device driver.
        The driver is located at: devices/dev_custom

config ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    bool "Device 'display_lcd' support"
    help
        Enable display_lcd device support.
        This option enables the display_lcd device driver.
        The driver is located at: devices/dev_display_lcd

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_DSI_SUPPORT
    bool "Device 'display_lcd' dsi sub-type support"
    depends on ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    help
        Enable display_lcd dsi sub-type support.
        This option enables the display_lcd dsi sub-type driver.

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_I80_SUPPORT
    bool "Device 'display_lcd' i80 sub-type support"
    depends on ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    help
        Enable display_lcd i80 sub-type support.
        This option enables the display_lcd i80 sub-type driver.

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_PARLIO_SUPPORT
    bool "Device 'display_lcd' parlio sub-type support"
    depends on ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    help
        Enable display_lcd parlio sub-type support.
        This option enables the display_lcd parlio sub-type driver.

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_RGB_SUPPORT
    bool "Device 'display_lcd' rgb sub-type support"
    depends on ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    help
        Enable display_lcd rgb sub-type support.
        This option enables the display_lcd rgb sub-type driver.

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_RGB_3WIRE_SPI_SUPPORT
    bool "Device 'display_lcd' rgb_3wire_spi sub-type support"
    help
        Enable display_lcd rgb_3wire_spi sub-type support.
        This option enables the display_lcd rgb_3wire_spi sub-type driver.

config ESP_BOARD_DEV_DISPLAY_LCD_SUB_SPI_SUPPORT
    bool "Device 'display_lcd' spi sub-type support"
    depends on ESP_BOARD_DEV_DISPLAY_LCD_SUPPORT
    help
        Enable display_lcd spi sub-type support.
        This option enables the display_lcd spi sub-type driver.

config ESP_BOARD_DEV_FS_FAT_SUPPORT
    bool "Device 'fs_fat' support"
    help
        Enable fs_fat device support.
        This option enables the fs_fat device driver.
        The driver is located at: devices/dev_fs_fat

config ESP_BOARD_DEV_FS_FAT_SUB_SDMMC_SUPPORT
    bool "Device 'fs_fat' sdmmc sub-type support"
    depends on ESP_BOARD_DEV_FS_FAT_SUPPORT
    help
        Enable fs_fat sdmmc sub-type support.
        This option enables the fs_fat sdmmc sub-type driver.

config ESP_BOARD_DEV_FS_FAT_SUB_SPI_SUPPORT
    bool "Device 'fs_fat' spi sub-type support"
    depends on ESP_BOARD_DEV_FS_FAT_SUPPORT
    help
        Enable fs_fat spi sub-type support.
        This option enables the fs_fat spi sub-type driver.

config ESP_BOARD_DEV_FS_SPIFFS_SUPPORT
    bool "Device 'fs_spiffs' support"
    help
        Enable fs_spiffs device support.
        This option enables the fs_spiffs device driver.
        The driver is located at: devices/dev_fs_spiffs

config ESP_BOARD_DEV_GPIO_CTRL_SUPPORT
    bool "Device 'gpio_ctrl' support"
    help
        Enable gpio_ctrl device support.
        This option enables the gpio_ctrl device driver.
        The driver is located at: devices/dev_gpio_ctrl

config ESP_BOARD_DEV_GPIO_EXPANDER_SUPPORT
    bool "Device 'gpio_expander' support"
    help
        Enable gpio_expander device support.
        This option enables the gpio_expander device driver.
        The driver is located at: devices/dev_gpio_expander

config ESP_BOARD_DEV_LCD_TOUCH_SUPPORT
    bool "Device 'lcd_touch' support"
    help
        Enable lcd_touch device support.
        This option enables the lcd_touch device driver.
        The driver is located at: devices/dev_lcd_touch

config ESP_BOARD_DEV_LCD_TOUCH_SUB_I2C_SUPPORT
    bool "Device 'lcd_touch' i2c sub-type support"
    depends on ESP_BOARD_DEV_LCD_TOUCH_SUPPORT
    help
        Enable lcd_touch i2c sub-type support.
        This option enables the lcd_touch i2c sub-type driver.

config ESP_BOARD_DEV_LCD_TOUCH_SUB_SPI_SUPPORT
    bool "Device 'lcd_touch' spi sub-type support"
    depends on ESP_BOARD_DEV_LCD_TOUCH_SUPPORT
    help
        Enable lcd_touch spi sub-type support.
        This option enables the lcd_touch spi sub-type driver.

config ESP_BOARD_DEV_LCD_TOUCH_I2C_SUPPORT
    bool "Device 'lcd_touch_i2c' support"
    help
        Enable lcd_touch_i2c device support.
        This option enables the lcd_touch_i2c device driver.
        The driver is located at: devices/dev_lcd_touch_i2c

config ESP_BOARD_DEV_LED_STRIP_SUPPORT
    bool "Device 'led_strip' support"
    help
        Enable led_strip device support.
        This option enables the led_strip device driver.
        The driver is located at: devices/dev_led_strip

config ESP_BOARD_DEV_LED_STRIP_SUB_RMT_SUPPORT
    bool "Device 'led_strip' rmt sub-type support"
    depends on ESP_BOARD_DEV_LED_STRIP_SUPPORT
    help
        Enable led_strip rmt sub-type support.
        This option enables the led_strip rmt sub-type driver.

config ESP_BOARD_DEV_LED_STRIP_SUB_SPI_SUPPORT
    bool "Device 'led_strip' spi sub-type support"
    depends on ESP_BOARD_DEV_LED_STRIP_SUPPORT
    help
        Enable led_strip spi sub-type support.
        This option enables the led_strip spi sub-type driver.

config ESP_BOARD_DEV_LEDC_CTRL_SUPPORT
    bool "Device 'ledc_ctrl' support"
    help
        Enable ledc_ctrl device support.
        This option enables the ledc_ctrl device driver.
        The driver is located at: devices/dev_ledc_ctrl

config ESP_BOARD_DEV_LITTLEFS_SUPPORT
    bool "Device 'littlefs' support"
    help
        Enable littlefs device support.
        This option enables the littlefs device driver.
        The driver is located at: devices/dev_littlefs

config ESP_BOARD_DEV_LITTLEFS_SUB_FLASH_SUPPORT
    bool "Device 'littlefs' flash sub-type support"
    depends on ESP_BOARD_DEV_LITTLEFS_SUPPORT
    help
        Enable littlefs flash sub-type support.
        This option enables the littlefs flash sub-type driver.

config ESP_BOARD_DEV_LITTLEFS_SUB_SDMMC_SUPPORT
    bool "Device 'littlefs' sdmmc sub-type support"
    depends on ESP_BOARD_DEV_LITTLEFS_SUPPORT
    help
        Enable littlefs sdmmc sub-type support.
        This option enables the littlefs sdmmc sub-type driver.

config ESP_BOARD_DEV_LITTLEFS_SUB_SPI_SUPPORT
    bool "Device 'littlefs' spi sub-type support"
    depends on ESP_BOARD_DEV_LITTLEFS_SUPPORT
    help
        Enable littlefs spi sub-type support.
        This option enables the littlefs spi sub-type driver.

config ESP_BOARD_DEV_POWER_CTRL_SUPPORT
    bool "Device 'power_ctrl' support"
    help
        Enable power_ctrl device support.
        This option enables the power_ctrl device driver.
        The driver is located at: devices/dev_power_ctrl

config ESP_BOARD_DEV_POWER_CTRL_SUB_GPIO_SUPPORT
    bool "Device 'power_ctrl' gpio sub-type support"
    depends on ESP_BOARD_DEV_POWER_CTRL_SUPPORT
    help
        Enable power_ctrl gpio sub-type support.
        This option enables the power_ctrl gpio sub-type driver.

endmenu
