CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

#
# Camera Sensor Configuration
#
CONFIG_CAMERA_OV2710=y
CONFIG_CAMERA_OV2710_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV2710_MIPI_RAW10_1920X1080_25FPS=y
CONFIG_CAMERA_OV2710_MIPI_IF_FORMAT_INDEX_DEFAULT=0
CONFIG_CAMERA_OV2710_STATS_UPDATE_EN=y
CONFIG_CAMERA_OV2710_STATS_UPDATE_INTERVAL=120
CONFIG_CAMERA_OV2710_DEFAULT_IPA_JSON_CONFIGURATION_FILE=y
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1

#
# ESP-Hosted: Select P4-EYE board for correct C6 SDIO pin mapping
#
CONFIG_ESP32P4_EYE_C6_BOARD=y
